@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppinsExtraBoldItalic';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'poppinsSemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'poppinsMedium';
    src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppinsLight';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppinsLightItalic';
    src: url('../fonts/Poppins-LightItalic.ttf');
}